---
custom_basename: dashboard
---
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-xl-3">
            <div class="boxes boxes--right">
                <div class="row">
                    <div class="col-4">
                        <div class="circle circle--border circle--success">
                            <svg class="svg-icon">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#visibility"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="col-8 v-align">
                        <h5>64,570</h5>
                        <p>{{dashboard.stats.visits}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="boxes boxes--right">
                <div class="row">
                    <div class="col-4">
                        <div class="circle circle--border circle--primary">
                            <svg class="svg-icon">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#timeline"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="col-8 v-align">
                        <h5>64,570</h5>
                        <p>{{dashboard.stats.revenue}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="boxes boxes--right">
                <div class="row">
                    <div class="col-4">
                        <div class="circle circle--border circle--danger">
                            <svg class="svg-icon">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#track"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="col-8 v-align">
                        <h5>64,570</h5>
                        <p>{{dashboard.stats.sales}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="boxes boxes--right">
                <div class="row">
                    <div class="col-4">
                        <div class="circle circle--border circle--secondary">
                            <svg class="svg-icon">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#border"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="col-8 v-align">
                        <h5>64,570</h5>
                        <p>{{dashboard.stats.conversion}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--nuo cia antra eilute su diagramomis-->
    <div class="row">
        <div class="col-xl-4">
            <div class="boxes">
                <h6 class="boxes__title">{{dashboard.stats.year}}</h6>
                <canvas id="myChart"></canvas>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="boxes">
                <h6 class="boxes__title">{{dashboard.stats.total}}</h6>
                <canvas id="myChart1"></canvas>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="boxes">
                <h6 class="boxes__title">{{dashboard.stats.totalr}}</h6>
                <canvas id="myChart2"></canvas>
            </div>
        </div>
    </div>
    <!--nuo cia trecia dalis su lentele ir desniame sone trys kntaktai-->
    <div class="row">
        <div class="col-xl-8">
            <div class="boxes">
                <h6 class="boxes__title">{{dashboard.stats.latest}}</h6>
                <p class="boxes__subheading">{{dashboard.stats.your}}</p>
 <table class="table table-borderless">
  <thead class="labas">
    <tr>
      <th scope="col">#</th>
      <th scope="col">{{dashboard.stats.projectName}}</th>
      <th scope="col">{{dashboard.stats.startDate}}</th>
      <th scope="col">{{dashboard.stats.dueDate}}</th>
      <th scope="col">{{dashboard.stats.status}}</th>
      <th scope="col">{{dashboard.stats.assign}}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>Otto</td>
      <td>{{dashboard.stats.admin}}</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
      <td>Otto</td>
      <td>{{dashboard.stats.user}}</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
      <td>Otto</td>
      <td>{{dashboard.stats.master}}</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
      <td>Otto</td>
      <td>{{dashboard.stats.admin}}</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
      <td>Otto</td>
      <td>{{dashboard.stats.user}}</td>
    </tr>
  </tbody>
</table>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="row">
                <div class="col-12">
                    <div class="boxes boxes--flex">
                        <img class="boxes__image img-fluid" src="../assets/images/user.jpg" alt="user picture">
                        <div class="boxes__user-info v-align">
                            <h6 class="boxes__title">Jonas</h6>
                            <p class="boxes__info">Jonas@one.lt</p>
                            <p class="user-role user-role--admin">{{dashboard.stats.admin}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="boxes boxes--flex">
                        <img class="boxes__image" src="../assets/images/user-1.jpg" alt="user picture">
                        <div class="boxes__user-info v-align">
                            <h6 class="boxes__title">Greta</h6>
                            <p class="boxes__info">Greta@one.lt</p>
                            <p class="user-role user-role--user">{{dashboard.stats.user}}</p>
                        </div>

                    </div>
                </div>
                <div class="col-12">
                    <div class="boxes boxes--flex">
                        <img class="boxes__image" src="../assets/images/user-1.jpg" alt="user picture">
                        <div class="boxes__user-info v-align">
                            <h6 class="boxes__title">Aistutė</h6>
                            <p class="boxes__info">Aistute@one.lt</p>
                            <p class="user-role user-role--master">{{dashboard.stats.master}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
